
Flask
Flask-WTF
Flask-SQLAlchemy
Werkzeug
python-dotenv
passlib
psycopg2-binary
gunicorn
langchain
PyMuPDF            
pypdf
tiktoken
openai
faiss-cpu
sentence-transformers
tqdm
docx
exceptions
Werkzeug